@media all and (max-width: 320px) {
    #savedResult {
        display: inline;
        flex-flow: wrap;
        flex-direction: row;
        align-items: center;
        width: auto;
        justify-content: space-evenly;
    }

}

.title{
    font-family: "Calisto MT";
    margin: 1px;
}
#content {
    background-color: #e5f7f5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:auto;
    justify-content: space-evenly;
    align-items: center;
}
#trash{
    border: none;
    background-color:#e5f7f5 ;
}



#myBooks{
    text-align: center;
}

#btn-add{
    border-radius: 10%;
    background-color: #3ba5af;
    color: white;
    padding: 10px 20px;
    font-size: 13px;
    display: inline;
}

#newBook{
    display: inline;
}

#searchForm{
    display:none;


}
#searchResult{
    background-color:#e5f7f5;


}
#bookTitle, #bookAuthor{
    text-align: left;
    width: 600px;
    padding: 8px 15px;
    margin: 5px 0;
    box-sizing: border-box;
}
#searchResult{


    border: solid black 1px;

}
#resultItem{
    border: 1px sienna solid;
    width: 324px;

}

#bookmark{
    size: 30px;
    background-color: #e5f7f5;
    border: none;
}
#logo{
    width: 150px;
    height: 150px;
    align-self: center;
}
#btn-search, #btn-cancel{
    border-radius: 10%;
    background-color: #6897bb;
    border-radius: 10%;
    box-shadow: black;
}
#bookResult{
    border-bottom: #6897bb solid 2px;
}





